spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/proximity_db
    username: test
    password: test
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6337
  main:
    allow-bean-definition-overriding: true

server:
  port: 8080
